@import './medaillon/medaillon.scss';
@import './bio/bio.scss';


.userBox {
  width: 100%;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__upload {
    border: 2px solid $secondary;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;

    background-color: $fithcolor;
    color: $secondary;
    cursor: pointer;

    &:hover {
      color: $fourthcolor;
      background-color: $secondary;
    }

    input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
  }

  &__name {
    text-align: center;
    margin: 3rem 0 3rem 0;
    color: $primary;
    font-weight: 900;
  }

  &__input {
    text-decoration: none;
    border: 2px solid $secondary;
    border-radius: 1rem;
    padding: 0 1rem 0 1rem;
    // margin-top: 1rem;

    background-color: $fithcolor;
    color: $secondary;
    outline: none;

    &:hover {
      color: $fourthcolor;
      background-color: $secondary;
    }
  }

  &__textarea {
    border: 2px solid $secondary;
    border-radius: 1rem;
    padding: 1rem;
    width: 70%;

    background-color: $fithcolor;
    color: $secondary;
    outline: none;
  }

  &__hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
    &__hidefire {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  &__save-container {
    margin-top: 1rem;
    width: 15rem;
    display: flex;
    justify-content: space-between;
  }

  &__medaillon {
      // set the size of medaillon
      width: 30vh;
      min-width: 200px;
      max-width: 300px;
      height: 30vh;
      min-height: 200px;
      max-height: 300px;
  }
}