// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'layout.scss';
@import 'create.scss';

// import styling for each componnets from homeserach component (homesearchm, searchbar, toprrecipes, recipeBox)
@import './components/homeSearch/homeSearch.scss';
@import './components/homeSearch/topRecipes/topRecipes.scss';
@import './components/homeSearch/recipeBox/recipeBox.scss';
@import './components/homeSearch/searchBar/searchBar.scss';
@import './components/homeSearch/searchBar/searchedRecipesResult.scss';

// import auth -> login, create etc.
@import './auth/auth.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}