.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 10vh;
    background-color: $secondary;

    
    &__logoContainer {
        height: 3.5rem;
        width: 3.5rem;
        margin-left: 5vw;
    }

    &__logo {
        fill: $fithcolor;

        &:hover {
            fill: $fourthcolor;
        }
    }

    &__nav {
        margin-right: 5vw;
    }

    &__link {
        text-decoration: none;
        font-size: 1.5rem;
        margin: 1rem;
        color: $fithcolor;

        &:hover {
            text-decoration: none;
            color: $fourthcolor;
        }
    }
}



.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 10vh;
    background-color: $secondary;

    &__soclogo-container {
        display: flex;
        flex-direction: row;
    }

    &__soclogo {
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        fill: $fithcolor;
        
        &:hover {
            fill: #abe9a5;
        }
    }

    &__copyright-container {
        color: #F8FAFC;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        justify-content: center;
        height: fit-content;


        &__logoContainer {
            height: 3rem;
            width: 3rem;
            margin-top: 1rem;
        }

        &__nav {
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .footer {
        flex-wrap: wrap-reverse;
        height: fit-content;
    }
}