.recipe {
    padding: 2em;
    display:flex;
    justify-content: space-around;
    &__name {
        font-size: 4em;
    }
    &__container1 {
        display: flex;
        flex-direction: column;
        
       
    }
    &__container2 {
        display: flex;
        flex-direction: column;
        
    }
    &__imagey {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 10px 10px 16px -7px rgba(69,69,69,0.5);        
        width: 600px; 
        height: 500px;
    }
    &__description {
        padding: 1rem;
        font-size: 1.2em;
        max-width: 40vw;
    }
    &__ingredients {
        font-size: 1.2em;
        font-weight: bold;
        li {
            font-weight: normal;
        }
    }
    &__method {
        font-size: 1.5em;
        font-weight: bold;
    }
    &__methodlist  {
        font-size: 1.2em;
        padding: 0.5em;
    }
    &__medallion {
        width: 50px;
        height: 50px;
        
    }
    &__flexbox {
        display:flex;
        align-items: center;
    }
}

.averageRatingTop{
    display:flex;
    padding: 1em;
    justify-content: center;
    .rating__star {
        width: 3rem;
        height: 3rem;
}
}

.spinner-position {
    width: 100%;
    height:100%;
    position: fixed;

}