.recipe {
    padding: 2em;
    display:flex;
    justify-content: space-around;
    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
        padding: 0em;
        &__hiddenTitle {
            text-align: center;
        }
        &__hiddenAuthor {
            text-align: center;
        }
    }
    &__name {
        font-size: 4em;
        @media screen and (max-width: 400px) {
            font-size: 1em;
        }
    }
    &__hiddenName {
        display:none;
        @media screen and (max-width: 800px) {
            display: contents;
        }
    }
    &__container1 {
        display: flex;
        flex-direction: column;
        padding-left: 7em;
        @media screen and (max-width: 400px) {
            padding:1em;
        }
        @media screen and (max-width: 800px) {
            width:80vw;
            margin: 0em;
            padding: 0em;
            display: inline;
        }
        
       
    }
    &__container2 {
        display: flex;
        flex-direction: column;
        width:600px;
       // padding-left: 5em;
        box-shadow: 10px 10px 16px -7px rgba(69,69,69,0.5);  
        @media screen and (max-width: 800px) {
            // width: 80vw;
            // padding: 2em 5em;
            // margin:auto;
            display: none;
        }
        
    }
    &__imagey {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 10px 10px 16px -7px rgba(69,69,69,0.5);        
        width: 600px; 
        height: 400px;
        @media screen and (max-width: 400px) {
            width:300px;
            height:200px;
        }
        @media screen and (max-width: 800px) {
            padding: 0em;
        }
    }
    &__description {
        padding: 1rem;
        font-size: 1.2em;
        max-width: 40vw;
        @media screen and (max-width: 800px) {
            max-width:100vw;
        }
    }
    &__ingredients {
        font-size: 1.2em;
        font-weight: bold;
        li {
            font-weight: normal;
        }
    }
    &__ingredients-box {
        box-shadow: 10px 10px 16px -7px rgba(69,69,69,0.5);  
        @media screen and (max-width: 800px) {
            width:80vw;
        }
      
    }
    &__method {
        font-size: 1.5em;
        font-weight: bold;
        @media screen and (max-width: 800px) {
            width:80vw;
        }
    }
    &__methodlist  {
        font-size: 1.2em;
        padding: 0.5em;
        @media screen and (max-width: 800px) {
            width:80vw;
        }
    }
    &__medallion {
        width: 50px;
        height: 50px;
        
    }
    &__flexbox {
        display:flex;
        align-items: center;
        @media screen and (max-width: 400px) {
           
            padding-left: 30px;
        }
    }
}

.averageRatingTop{
    display:flex;
    padding: 1em;
    justify-content: center;
    .rating__star {
        width: 3rem;
        height: 3rem;
}
}

.spinner-position {
    width: 100%;
    height:100%;
    position: fixed;

}

.buttonStyles{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-right: 5.5em;
    #delete {
        margin-left: 1rem;
    }
}

