@import './profileSideBar/profileSideBar.scss';
@import './profileCookBook/ProfileCookBook.scss';
@import './favouriteMeal/FavouriteMeal.scss';

.profilePage {
  margin-left: 4vw;
  margin-right: 4vw;

  display: flex;
  justify-content: space-between;

  &__leftSide {
    width: 60vw;
    margin-right: 4vw;
    // border: 2px solid green;
  }
}