@import './profileSideBar/profileSideBar.scss';
@import './profileCookBook/ProfileCookBook.scss';
@import './favouriteMeal/FavouriteMeal.scss';
@import './followersBox/FollowersBox.scss';

.profilePage {
  margin-left: 4vw;
  margin-right: 4vw;

  min-height: 80vh;

  display: flex;
  justify-content: space-between;

  &__leftSide {
    width: 60vw;
    margin-right: 4vw;
    // border: 2px solid green;
  }
}


//special styling for medaillons
.follow_style {
  border: 2px solid $fourthcolor;
  box-shadow: 10px 10px 16px -7px $fourthcolor;
}
.to_follow {
  border: 2px solid $fourthcolor;
}