.homeSearch{
  // border: 2px solid black;

  width: 70%;
  min-height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  &__header1{
    margin: 6vh;
    font-size: 4rem;
    font-weight: 900;
    color:$primary;  
  }
  
  &__header2{
    margin: 5vh;
    color: $secondary;
  }
}

@media only screen and (max-width: 768px) {
  .homeSearch{  
    width: 90%;

  
    &__header1{
      margin: 4vh;
      font-size: 3rem;
      font-weight: 800;
    }
    
    &__header2{
      margin: 1rem 0 0 0;
      color: $secondary;
      font-size: 1.4rem;
    }
  }
}