.entire-form {
    color: red;
    button {
    .btn {
        border-radius: 50%;
    }}
}
#form {
   
    label {
        width: 20%;
    }
    .input{
        width: 30%;
        display: flex;
    }
     }

    