
.recipe-container {
  padding: 1rem;
  display: flex;
  //justify-content: space-around;
  width:50%;
  box-shadow: 10px 10px 16px -7px rgba(69,69,69,0.5);  
  @media screen and (max-width: 800px) {
    font-size: small;
    width: 80vw;
}
}
.hideThis {
  display:none;
}
ul {
  list-style: none;
}
.ratingRender {
  display:flex;
  padding: 1em;
}
#starRender{
    display:flex;
}
.nameAndText {
  flex-direction: column;
}
.stars {
  display:flex;
}
.userName {
  font-size: 1.5em;
  @media screen and (max-width: 400px) {
    font-size: 1em;
}}
.userImage {
  width:7.5vw;
 // height:15vh;
  border-radius: 50%;
  margin-right: 2em;
  @media screen and (max-width: 400px) {
    margin-right: 1em;
    height: 50px;
    width: 50px;
    
}
@media screen and (max-width: 800px) {
  margin-right: 1em;
  height: 100px;
  width: 100px;
  
}
}
.usercomment {
  padding-left:1em;
  @media screen and (max-width: 400px) {
 
    padding-left: 30px;
}
}
.imageAndStar {
  flex-direction: column;
}
.review {
  padding: 0.8em;
  @media screen and (max-width: 400px) {
    //
}
}
.commentTime {
  font-size: 0.6em;
}
.allComments {
  padding: 2em 5em;
  @media screen and (max-width: 400px) {
    padding: 0em;
    .usercomment{
    font-size: 1.5em;
    }
  }
}

  
  #deleteButton{
    display: flex;
  align-self: flex-end;
  }


  #commentText {
    max-width: 90vw;
    overflow: hidden;
  }

  .rating {
    @media screen and (max-width: 400px) {
      padding-left: 5em;
    }
  }