
    .recipe-container {
        border: 2px black solid;
        display: flex;
        
    }
    .hideThis {
        display:none;
    }

  ul {
    list-style: none;
  }

    #starRender{
        display:flex
    }

